             :root {
                --theme-color: #2996f3;
                --text-primary: #212121;
                --text-secondary: #757575;
                --text-secondary-lighter: #ffffff;
                --primary-font: 'Roboto', sans-serif;
                --secondary-font: 'Raleway', sans-serif;
            }
            
            body {
                font-family: var(--primary-font), sans-serif;
                color: var(--text-primary);
                margin: 0;
            }
            
            a {
                text-decoration: none;
            }
            
            ul,
            ol {
                list-style: none;
            }
            
            h3 {
                font-family: var(--primary-font);
            }
            /*=======header-footer styles================*/
            
            .logo {
                color: var(--theme-color);
                font-family: var(--secondary-font);
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 1.2;
            }
            
            .studioword {
                color: #000;
            }
            
            .nav-links .nav-item {
                color: #212121;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
            }
            
            .nav-links .nav-item.current {
                color: var(--theme-color);
            }
            
            .nav-links .nav-item:hover,
            .nav-links .nav-item:focus {
                color: #2996f3;
            }
            
            address {
                font-style: normal;
            }
            
            .phys-adress {
                color: var(--text-secondary-lighter);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.7;
                letter-spacing: 0.03em;
            }
            
            .contact-box-mail {
                color: var(--text-secondary);
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
            }
            
            .contact-box-phone {
                color: var(--text-secondary);
                font-weight: 400;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                ;
            }
            
            .contact-box-mail:hover,
            .contact-box-mail:focus {
                color: var(--theme-color);
            }
            
            .contact-box-phone:hover,
            .contact-box-phone:focus {
                color: var(--theme-color);
            }
            
            .mail-footer,
            .phone-footer {
                color: rgba(255, 255, 255, 0.6);
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
            }
            
            {
                color: rgba(255, 255, 255, 0.6);
            }
            
            .studiowordfooter {
                color: var(--text-secondary-lighter);
                font-style: var(--secondary-font);
            }
            
            .footer-section {
                background-color: #2F303A;
            }
            /*==========header-footer style end===============*/
            /* ===================Buttons style start======================= */
            
            .buttons {
                background-color: #F5F4FA;
                border: none;
                color: #212121;
                font-family: var(--primary-font);
                font-weight: 500;
                font-size: 16px;
                line-height: 1.6;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
            }
            
            .button-first {
                background-color: var(--theme-color);
                color: var(--text-secondary-lighter)
            }
            
            .buttons:hover,
            .buttons:focus {
                background-color: #2996f3;
                color: var(--text-secondary-lighter);
            }
            /* =======================Buttons style end================= */
            /* ********************************************************************** */
            /*========== Main style start =====================*/
            
            .hero-section {}
            
            .hero-title {
                color: var(--text-secondary-lighter);
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
            }
            
            .hero-back {
                background-color: #2F303A;
            }
            
            .button-1 {
                font-weight: 700;
                background-color: var(--theme-color);
                color: var(--text-secondary-lighter);
                width: 200px;
                height: 50px;
                margin: 30px 700px 200px;
            }
            
            .button-1:hover,
            .button-1:focus {
                background-color: #098af3;
            }
            
            .advantages-list-item h3 {
                color: var(--text-primary);
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.03em;
                text-transform: uppercase
            }
            
            .advantages-list-item p {
                color: var(--text-secondary);
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                ;
            }
            
            .services-description-title {
                color: var(--text-primary);
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 1.17;
                text-align: center;
                letter-spacing: 0.03em;
                ;
            }
            
            .team-header {
                color: var(--text-primary);
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 1.17;
                text-align: center;
                letter-spacing: 0.03em;
                ;
            }
            
            .team {
                background-color: #F5F4FA;
            }
            
            .staff-members-list p {
                color: var(--text-secondary);
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                text-align: center;
                ;
            }
            
            .staff-member {
                color: var(--text-primary);
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                text-align: center;
            }
            
            .staff-member:hover,
            .staff-member:focus {
                color: var(--theme-color)
            }
            /*========== Main style end =====================*/
            /* ============Portfolio style start ============*/
            
            .work-example-list a>h3 {
                color: var(--text-primary);
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.06em;
                text-align: center;
            }
            
            .work-example-list a>p {
                color: var(--text-secondary);
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.87;
                letter-spacing: 0.03em;
                text-align: left;
            }